
.btn{
    // border: 1px solid $neutral-900;
    padding-left: $spacing-l;    
    padding-right: $spacing-l;
    padding-top: $spacing-s;
    padding-bottom: $spacing-s;
    border-radius: $radius-xs;
    // background-color: #fff;
}