<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/scss/all.scss">
    <title>index</title>
</head>

<body>
    <%- include('./layout/navbar'); -%>
        <main class="container px-s py-m">
            <nav class="mb-l">
                <ol class="breadcrumb d-flex  ">
                    <li class="breadcrumb-item"><a href="index.html" class="label-md fw-5 text-neutral-600">首頁</a></li>
                    <li class="breadcrumb-item"><a href="#" class="label-md fw-5 text-neutral-600">女鞋</a></li>
                    <li class="breadcrumb-item"><a href="#" class="label-md fw-5 active">所有商品</a></li>
                </ol>
            </nav>
            <h1 class="h3 md-h4 text-neutral-700 md-text-neutral-900 fw-7 mb-l">女鞋</h1>
            <div class="row">
                <div class="col-2">
                    <aside>
                        <ul class="sidebar">
                            <li class="mb-m"><a href="#" class="lable-md fw-5 py-xs active">所有商品</a></li>
                            <li class="mb-m"><a href="#" class="lable-md fw-5 py-xs">慢跑鞋</a></li>
                            <li class="mb-m"><a href="#" class="lable-md fw-5 py-xs">滑板鞋</a></li>
                            <li class="mb-m"><a href="#" class="lable-md fw-5 py-xs">厚底鞋</a></li>
                            <li><a href="#" class="lable-md fw-5 py-xs">限定/聯名企劃</a></li>
                        </ul>
                    </aside>
                </div>
                <div class="col-10 md-col-12 md-px-s">
                    <div class="row md-row mb-3xl">
                        <div class="col-4 md-col-6 mb-2xl md-mb-l">
                            <a href="productDetail.html">
                                <img src="/assets/images/product-1.png" class="mb-s md-mb-xs" alt="PLATFORM 404">
                                <h4 class="h6 fw-7 mb-xxs md-mb-0">PLATFORM 404</h4>
                                <p class="label-md fw-5">NT$2,600</p>
                            </a>
                        </div>
                        <div class="col-4 md-col-6 mb-2xl md-mb-l">
                            <a href="productDetail.html">
                                <img src="/assets/images/product-2.png" class="mb-s md-mb-xs" alt="PLATFORM 404">
                                <h4 class="h6 fw-7 mb-xxs md-mb-0">PLATFORM 404</h4>
                                <p class="label-md fw-5">NT$2,600</p>
                            </a>
                        </div>
                        <div class="col-4 md-col-6 mb-2xl md-mb-l">
                            <a href="productDetail.html">
                                <img src="/assets/images/product-3.png" class="mb-s md-mb-xs" alt="VM001">
                                <h4 class="h6 fw-7 mb-xxs md-mb-0">VM001</h4>
                                <p class="label-md fw-5">NT$2,600</p>
                            </a>
                        </div>
                        <div class="col-4 md-col-6 mb-2xl md-mb-l">
                            <a href="productDetail.html">
                                <img src="/assets/images/product-4.png" class="mb-s md-mb-xs" alt="Melty Kiss">
                                <h4 class="h6 fw-7 mb-xxs md-mb-0">Melty Kiss</h4>
                                <p class="label-md fw-5">NT$4,000</p>
                            </a>
                        </div>
                        <div class="col-4 md-col-6 mb-2xl md-mb-l">
                            <a href="productDetail.html">
                                <img src="/assets/images/product-5.png" class="mb-s md-mb-xs" alt="BOOMBLOK">
                                <h4 class="h6 fw-7 mb-xxs md-mb-0">BOOMBLOK</h4>
                                <p class="label-md fw-5">NT$3,200</p>
                            </a>
                        </div>
                        <div class="col-4 md-col-6 mb-2xl md-mb-l">
                            <a href="productDetail.html">
                                <img src="/assets/images/product-6.png" class="mb-s md-mb-xs" alt="BOOMBLOK">
                                <h4 class="h6 fw-7 mb-xxs md-mb-0">BOOMBLOK</h4>
                                <p class="label-md fw-5">NT$3,200</p>
                            </a>
                        </div>
                        <div class="col-4 md-col-6 md-mb-l">
                            <a href="productDetail.html">
                                <img src="/assets/images/product-7.png" class="mb-s md-mb-xs" alt="R:UNER">
                                <h4 class="h6 fw-7 mb-xxs md-mb-0">PR:UNER</h4>
                                <p class="label-md fw-5">NT$4,000</p>
                            </a>
                        </div>
                        <div class="col-4 md-col-6 md-mb-l">
                            <a href="productDetail.html">
                                <img src="/assets/images/product-8.png" class="mb-s md-mb-xs" alt="Sugar Snap">
                                <h4 class="h6 fw-7 mb-xxs md-mb-0">Sugar Snap</h4>
                                <p class="label-md fw-5">NT$4,000</p>
                            </a>
                        </div>
                        <div class="col-4 md-col-6 md-mb-l">
                            <a href="productDetail.html">
                                <img src="/assets/images/product-9.png" class="mb-s md-mb-xs" alt="Neofoam">
                                <h4 class="h6 fw-7 mb-xxs md-mb-0">Neofoam</h4>
                                <p class="label-md fw-5">NT$4,000</p>
                            </a>
                        </div>
                    </div>

                    <nav class="pagination mb-xl md-mb-m">
                        <ul class="d-flex justify-center">
                            <li><a href="#"><i class="bi bi-chevron-left text-neutral-900 mr-s disabled"></i></a></li>
                            <li><a href="#" class="fw-4 p-ml px-m px-xs mr-xs text-neutral-900 active">1</a></li>
                            <li><a href="#" class="fw-4 p-ml px-m px-xs mr-xs text-neutral-900">2</a></li>
                            <li><a href="#" class="fw-4 p-ml px-m px-xs mr-xs text-neutral-900">3</a></li>
                            <li><a href="#" class="fw-4 p-ml px-m px-xs mr-xs text-neutral-900">…</a></li>
                            <li><a href="#" class="fw-4 p-ml px-m px-xs mr-s text-neutral-900">10</a></li>
                            <li><a href="#"><i class="bi bi-chevron-right text-neutral-900"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </main>

        <%- include('./layout/footer'); -%>
</body>

</html>